body{
    --background-color-global: #0a0a0a;
    --sidebar-color:oklch(26.9% 0 0);
    --text-color:#f8f8f8;
    background-color: var(--background-color-global);
    margin: 0px;
    color: var(--text-color);
    
}

.container-div{
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.header-div{
    height: 12vh;
    background-color: #131313;
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 1 / span 2;
    padding-left:40px ;
}

.sidebar-div{
    background-color:var(--sidebar-color);
    height: max(88vh,100%);
}

.add-project-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.heading-todo {
    color: var(--text-color);
}
.main-div > button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:var(--background-color-global) ;
    border: 0px;
    padding: 0px;

}

.main-div>button>img{
    height: 100px;
    width: 100px;
}

.project-button{
    width: 100%;
    background-color:var(--sidebar-color) ;
    color: var(--text-color);
    border: 0px;
    font-size: 1em;
    margin-top:10px ;
    padding-top: 5px;
    padding-bottom: 5px;
}

.project-button:hover{
    background-color: aqua;
}


form >div> label{
    color: black;
}

.task-div{
    display: flex;
    background-color: darkblue;
    height: 40px;
    align-items: center;
    margin-top: 20px;
}

.task-div >input{
    margin-right: 20px;
}

.task-div >h3 {
    width:60%
}

.task-div >.due-date {
    width: 20%;
}

.task-div >button {
    height: 40px;
}


.add-task-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-container >button{
    font-size: 1.5em;
    height: 40px;
    border-radius: 10px;
}

.form-dialog{
    width :60%
}

.task-form{
    font-size: 1.5em;
}

.task-form  label{
    display: block;
}

#title {
    height: 30px;
}

.task-form  .input-task {
    width: 100%;
    margin-bottom: 15px;
}

.task-form .due-date{
    width :20%;
}
#discription{
    height: 200px;
}

.project-heading {
    text-align: center;
    font-size: 2.5em;
}

