body{
    --background-color-global: #0a0a0a;
    background-color: var(--background-color-global);
    margin: 0px;
    
}

.container-div{
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.header-div{
    height: 12vh;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
}

.sidebar-div{
    background-color:oklch(26.9% 0 0);
    height: max(88vh,100%);
}

.heading-todo {
    color: #f8f8f8;
}
.main-div > button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:var(--background-color-global) ;
    border: 0px;
    
}

.main-div>button>img{
    height: 100px;
    width: 100px;
}
